.auth-container {
    color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: 1F2122;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: auto;
    padding: 10px;
    background-color: #333; /* Match your site's theme */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555; /* Darker shade for hover */
  }
  
  .social-login {
    text-align: center;
    margin: 15px 0;
  }
  
  .social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white; /* Background for social buttons */
    color: #333; /* Icon color */
    cursor: pointer;
    margin: 5px;
  }
  
  .social-button:hover {
    background-color: gray; /* Hover effect */
  }
  